.image_card {
  width: 300px; /* Фіксована ширина контейнера */
  height: 200px; /* Автоматична висота для збереження пропорцій */
}

.image {
  width: 100%; /* Зображення займає всю ширину контейнера */
  height: 100%; /* Зображення займає всю висоту контейнера */
  object-fit: cover; /* Зображення зберігає пропорції та займає весь контейнер */
}
